# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual envs
venv/
.venv/
env/
ENV/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs / build
*.log
static/dist/

# dotenv and firebase keys
.env
app/config/firebase_customer.json
app/config/firebase_astrologer.json
